body {
    margin: 0;
    padding: 0;
}

.card_container {
    min-height: 100vh;
    background-color: #4A7B79 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    
}

.quiz-card {
    width: 30rem;
}