body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card_container {
    min-height: 100vh;
    background-color: #4A7B79 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quiz-card {
    width: 30rem;
}

.quizAnswerCard:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    transition: ease-in 300ms;
}

.bg-success, .bg-danger {
    color: white !important;
}

.bg-success {
    transition: ease-in 1000ms;
}

.finsishedHeadline {
    display: flex;
    justify-content: center;
}

.buttonEndScreen {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* responsive */

body {
    overflow: auto;
}